DEVICE=eth"{{ item.device }}"
ONBOOT="yes"
TYPE="Ethernet"
DEFROUTE=no
NM_CONTROLLED=no
{% if item.bootprotocol == "dhcp" %}
BOOTPROTO="dhcp"
{% else %}
BOOTPROTO=static
IPADDR={{ item.ipaddr }}
NETMASK={{ item.netmask }}
GATEWAY=={{ item.gateway }}
{%- endif %}
IPV6INIT=no
